@()

<div class="paragraph">
	A team of three other students and I produced this animation over the course of four months for a class in 3D animation during the Spring of 2007.  I truly enjoyed working on this project with my group late into (sometimes all the way through) the night.  A dedicated team, we pushed hard to get a final product we were all proud of.  We used Autodesk's Maya software for all of our modeling, rigging, texturing, lighting, and animation needs.  After the rendering was complete we used Final Cut Pro to edit the video and add audio.  
</div>


<div id="cycle3467FlashContainer" class="centerMe">


	<script type="text/javascript" src="@routes.Assets.versioned("javascripts/swfobject.js")"></script>
	<script type="text/javascript">
		swfobject.registerObject("", "9.0.0", "@routes.Assets.versioned("flash/expressInstall.swf")");
	</script>
    <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="400" height="300">
				<param name="movie" value="http://vimeo.com/moogaloop.swf?clip_id=1936076&server=vimeo.com&show_title=1&show_byline=1&show_portrait=0&color=&fullscreen=1" />
				<param name="allowfullscreen" value="true" />
				<param name="allowscriptaccess" value="always" />
				<!--[if !IE]>-->
				<object type="application/x-shockwave-flash" data="http://vimeo.com/moogaloop.swf?clip_id=1936076&server=vimeo.com&show_title=1&show_byline=1&show_portrait=0&color=&fullscreen=1" width="400" height="300">
					<param name="allowfullscreen" value="true" />
					<param name="allowscriptaccess" value="always" />
				<!--<![endif]-->
					<a href="http://www.adobe.com/go/getflashplayer">
						<img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" />
					</a>
				<!--[if !IE]>-->
				</object>
				<!--<![endif]-->
			</object>
</div>
<div id="cycle3467Description" class="centerMe paragraph">
	"A small glowing creature finds himself alone in a mysterious place, unable to account for his own existence.  He gradually unravels the truth of his place within a larger cycle."
</div>
<div class="lastParagraph">
	The other team members and I evenly split duties on most tasks for this project, as we were all hoping to learn as much as we could in the process (and worked our best to learn from each other's mistakes and successes).  But when it comes down to specifics, I was directly involved in: 
    <ul>
    	<li>Writing the storyline</li>
        <li>Creating an animatic for the piece</li>
        <li>Rigging the main character</li>
        <li>Animating the main character</li>
        <li>Rendering the animation</li>
        <li>Editing the video</li>
    </ul>
</div>
