div#thumbnailTable {
	padding-left:35px;
	padding-top:30px;
	padding-bottom:35px;
}

div#demoTableHeader {
	font-size:18px;
	margin-bottom:35px;
}

div.demoRow {
	/*overflow:auto;*/	/*I THINK I DON'T WANT THIS ENABLED BECAUSE IT PRODUCES SCROOL BARS ON THE ROWS?|*/
	padding-bottom:1px;
	margin-bottom:7px;/*20px;*//*6px;*/
}

/*
div.demoThumbnail {
	position:relative;
	float:left;
}
*/

/*
a.demoThumbnailLink:hover {
	color:#000000;
}
*/

/*
a.demoThumbnailLink:hover img{
	border-color:#114466;
}
*/
span.demoThumbnailRow {
}

img.demoThumbnail {
	width:216px;
	height:67px;
	margin:0px;
	padding:0px;
	/*border:2px solid #FFFFFF;*/
}

span.demoInfo {
	position:relative;
	bottom:30px;
	padding-left:30px;
}

span.demoInfo span {
	padding-top:2px;
	padding-bottom:2px;
}

span.demoTitle {
	border-right:solid;
	border-right-width:1px;
	font-weight:bold;
	padding-right:10px;
	margin-right:10px;
}

span.demoDescription {
}

div#demoDetailWrapper {
	margin-right:30px; /*<? echo "$mainRightLeftMargin"; ?>px;*/
	margin-left:30px; /*<? echo "$mainRightLeftMargin"; ?>px;*/
	margin-top:10px; /*<? echo "$mainTopMargin"; ?>px;*/
	margin-bottom:5px; /*<? echo "$mainBottomMargin"; ?>px;*/
	overflow:auto;
}

div#demoDetailWrapper a {
	text-decoration:underline;
}

div#demoDetailWrapper a.dontUnderlineMe {
	text-decoration:none;
}

div#demoDetailWrapper div.navigationBar {
	font-size:10px;
}

div#demoDetailWrapper div#demoTopBar {
	position:relative;
	text-align:left;
	margin:0px;
}

div#demoDetailWrapper div#demoBottomBar {
	position:relative;
	text-align:center;
	margin:0px;
	margin-bottom:1px;
}

div#demoDetailWrapper div#demoBottomBar span.previousLink {
	position:absolute;
	left:0;
}

div#demoDetailWrapper span.nextLink {
	position:absolute;
	right:0;
	margin-right:1px;
}

div#demoTitleBar {
	margin-top:2em;
	margin-bottom:3em;
}

img#headerThumbnail {
	width:162px;
	height:50px;
}

span#entireDemoTitle {
	position:relative;
	bottom:20px;
	left:20px;
}

span#entireDemoTitle span {
	padding-top:2px;
	padding-bottom:2px;
}

span#entireDemoTitle span.demoTitle {
	font-size:18px;;
	padding-right:13px;
	margin-right:13px;
}

span#entireDemoTitle span.demoDescription {
	position:relative;
	bottom:2px;
}



/*******************************/

div#demoIncludeContents .centerMe{
	margin: 0 auto;
	text-align:left;
}

div#demoIncludeContents .centerMeContainer{
	text-align:center;
}

div#demoIncludeContents div.paragraph {
	margin-bottom:4em;
}

div#demoIncludeContents div.lastParagraph {
	margin-bottom:3em;
}


div#demoIncludeContents ul {
	list-style-type:none;
	padding:0px;
	padding-top:1em; 
	margin:0px;
	/*
	margin-left: -0.2em;*/
}


div#demoIncludeContents ul ul {
	padding:0px;
	padding-left:3em;
}


div#demoIncludeContents li {
	background-image: url(../../images/itemDot.gif);
	background-repeat:no-repeat;
	background-position: 0.2em .45em;
	padding-left: 2.0em;
	margin-top:5px;
}

div#demoIncludeContents li ul li {
	background-image: url(../../images/itemDot.gif);
	background-repeat:no-repeat;
	background-position: 0.2em .45em;
	padding-left: 2.0em;
	margin-top:5px;
}

/*
<?
	$numberOfPictures = 4;
	$betweenPictures = 20;
	$widthOfPictures = 140;
	$heightOfPictures = $widthOfPictures;
	
	$imageRowWidth = ( ($numberOfPictures - 1) * ( $betweenPictures + $widthOfPictures) ) + $widthOfPictures;
?>
*/

div#demoIncludeContents img.maze {
	height:140px; /*<? echo "$heightOfPictures"; ?>px;*/
	width:140px; /*<? echo "$widthOfPictures"; ?>px;*/
	margin-right:20px; /*<? echo "$betweenPictures"; ?>px;*/
}

div#demoIncludeContents img.lastOfRow {
	margin-right:0px;
}

/*************Doom Wad Reader Specific****************/

div#dropWadHere {
	border:solid;
	border-width:1px;
	border-style:dashed;
	/*border-radius: 5px;*/
	padding:4px;
	height:100px;
}

div#dropWadHere * {
	/* this is here to avoid 'dragLeave' from firing when a child element is entered, so highlighting the drop area only when the user is in the middle of a valid drop is as easy
	as listening to 'dragEnter' and 'dragLeave'.  This approach was taken from here: */
	pointer-events: none;
}

div#dropWadHere div.inner {
	background-color:#e8e8ef;
	height:100px;
}

div#dropWadHere.dropIsValid div.inner {
	background-color:#cacadb;
}

div#dropWadHere.dropIsBeingProcessed div.inner {
	background-color:#cecece;
}

div#dropWadHere img.icon {
    vertical-align: middle;	/*so image is vertically aligned with the text next to it*/
}

div#dropWadHere img#dropIcon {
    width: 58px;
    height: auto;
}

div#dropWadHere div#label {
    vertical-align: middle;	/*so image is vertically aligned with the text next to it*/
    display: inline-block;
}

div#dropWadHere img#loadIcon {
    height: 62px;
    width: auto;
    padding-right: 8px;
}

/*  approach used below for vertically and horizontally centering content found here: https://css-tricks.com/centering-css-complete-guide/ */

div#dropWadHere .inner {
  position: relative;
}

div#dropWadHere .contents {   
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

div#resultsGoHere div.resultHeader {
	padding-top: 30px;
	padding-bottom:6px;
	border-bottom:solid;
	border-bottom-width:1px;
	border-bottom-color:#666666;
}

div#resultsGoHere div.resultHeader span.fileName {
	font-size:18px;
}

div#resultsGoHere div.resultHeader span.fileName a {
	text-decoration: none;
}

div#resultsGoHere div.sectionContainer,
div#resultsGoHere div.noImagesContainer,
div#resultsGoHere div.errorContainer {
	padding-top: 20px;
	padding-left: 10px;
	padding-bottom:20px;
	border-bottom:solid;
	border-bottom-width:1px;
	border-bottom-color:#666666;
}

div#resultsGoHere div.sectionContainer {
	padding-top: 30px;
}

div#resultsGoHere div.sectionContainer div.header {
	padding-bottom: 4px;
}

div#resultsGoHere div.sectionContainer div.header span.details span.title {
	border-right:solid;
	border-right-width:1px;
	font-weight:bold;
	padding-right:10px;
	margin-right:10px;
	font-size:16px;
}

div#resultsGoHere div.sectionContainer div.header span.details span.description {
	position: relative;
	bottom: 1px;
}

div#resultsGoHere .imageFromWAD {
	padding:10px 20px 10px 0px;
}

div#resultsGoHere div#stats {
	padding-top: 20px;
}

div#resultsGoHere div#stats div#label {
	font-size:18px;
}

div#resultsGoHere div#stats div#contents {
	padding-top: 10px;
	padding-left: 10px;
}

div#resultsGoHere div#stats ul {
	padding-top: 0px;
}

/*************3dmaze Specific****************/

div.mazeDescriptionStep {
	padding-bottom:1em;
}


div#demoIncludeContents div.imageRow {
	border:none;
	margin:0 auto 3em auto;
	width:620px; /*<? echo "$imageRowWidth"; ?>px;*/
}


/************Samurai Specific*****************/

/*
<? 
	$samuraiWidth = 550; 
	$leftControlsPadding = 0;
	$rightControlsPadding = $leftControlsPadding;
	$controlsWidth =  $samuraiWidth - ( $leftControlsPadding + $rightControlsPadding );
?>
*/

div#samuraiFlashContainer {
	width:550px; /*<? echo "$samuraiWidth"; ?>px;*/
	border:1px solid;/* #000000;*/
	overflow:auto;
}

div#samuraiControls {
	/*width:<? echo "$controlsWidth"; ?>px;*/
	padding-left:0px; /*<? echo "$leftControlsPadding"; ?>px;*/
	padding-right:0px; /*<? echo "$rightControlsPadding"; ?>px;*/
	padding-top:15px;
	text-align:center;
}

/*************Cycle 3467**********************/
/*
<? 
	$cycle3467Width = 400; 
	$leftDescriptionPadding = 0;
	$rightDescriptionPadding = 0;
	$descriptionWidth =  $cycle3467Width - ( $rightDescriptionPadding + $leftDescriptionPadding );
?>
*/

div#cycle3467FlashContainer {
	width:400px; /*<? echo "$cycle3467Width"; ?>px;*/
}

div#cycle3467Description {
	width:400px; /*<? echo "$descriptionWidth"; ?>px;*/
	padding-left:0px; /*<? echo "$leftDescriptionPadding"; ?>px;*/
	padding-right:0px; /*<? echo "$rightDescriptionPadding"; ?>px;*/
	padding-top:15px;
}

/***********Extras Specific*******************/

div#syntheticSnowFLashContainer {
	width:440px;
	/*border:1px solid;*/
}

div.extrasHeader {
	font-weight:bold;
	font-size:18px;
	padding-bottom:0.3em;
}

div.extrasSection {
	padding-bottom:2em;
}

div.lastExtrasSection {
}