@()

<div id="contact">
	<div id="contactHeader">
    	You can contact me through any of the methods below
    </div>
    <div id="contactText">
    	<div id="myName">Jacob Enget</div>
        <div id="phoneNumber">(315) 869-5294</div>
        <div id="linkedinProfile"><a href="https://ie.linkedin.com/in/jacobenget">LinkedIn profile</div>
        <div id="email"><a class="boldMe" href="mailto:jacob.enget@@gmail.com">jacob.enget@@gmail.com</a></div>
        <div id="hireMeSection">
            <form action="">
                <input type="button" value="Hire Now" onclick="alert('I wish the process were this easy as well, but I hardly know you!  We\'ll have to stick to the standard procedure for now.')"/>
            </form>
        </div>
    </div>
    <div id="whiteSpaceColumn">&nbsp;</div>
    <div id="contactFormSection">
    </div>
</div>