@(pageName: String)

<div id="aboutMe">
    <div class="paragraph">
		My name is Jacob Enget, and I am a software engineer that has worked at both <a href="http://www.idsoftware.com/">id Software</a> and <a href="http://www.havok.com/">Havok</a>. Because the projects I worked on daily in the video game industry weren't something I could demonstrate or talk about publicly I created this website to present <a class="boldMe" href="@Page.link(Demos(Index()))">personal projects</a> to the world and express a bit more about myself.
	</div>
    <div class="paragraph">
		Most of the projects you find on this site are many years old and were motivated by classes I took when studying computer science at the University of Minnesota. The exception is the  <a class="boldMe" href="@Page.link(Demos(DoomWadReader()))">Doom Asset Viewer</a> that I wrote this year (2015) to gain practice in build something substantial in Scala and to dig into the details of the WAD file format.
	</div>
    <div class="paragraph">
		My first academic love was math, which explains a bit of my nerd slant.  But a year and a half after finishing my B.S. in mathematics I realized that I wanted a career doing something more social and emotionally creative.  This, combined with my long love affair with animation and video games, led me back to school to study computer science.  Since then I've been happily working with computers and math together.
	</div>
    <div class="paragraph">
		Besides the <a href="@Page.link(Demos(Index()))">demonstrations</a> on this site, you'll also find my <a href="@Page.link(Resume())">resume</a> and information on how to contact <a href="@Page.link(Contact())">me</a>. I hope you enjoy looking around, and it would be great to hear from you!
	</div>
</div>
